<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SMS Message Sender</h1>
    <p class="lead">Send a message from a website for free.</p>
  </div>
</div>

<form action="/message" method="POST">
<div class="col-md-6 mb-3">
                <label for="number">Enter a Number</label>
                <input class="form-control" id="number" name='number' placeholder="" value="" required="" type="text">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              <div></div></div>
<div class="col-md-6 mb-3">
                <label for="message">Message</label>
                <input class="form-control" id="message" placeholder="" name='message' value="" required="" type="text">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              <div></div></div>
    <input type='submit' value='submit' />
</form>

